# Presentation
## Processing Data with Python
### Topics

* Obesity
* Dogs
* Playgrounds
* Crime

# Importing Libraries and Initializing Data

In [4]:
import numpy as np
import pandas as pd
obesity_pandas = pd.read_csv('Obesity.csv')
df = obesity_pandas[['City Neighborhood', '2006-2010 estimate of obesity']] 
df.info()
df.sort_values(by=['City Neighborhood'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 2 columns):
City Neighborhood                140 non-null object
2006-2010 estimate of obesity    416 non-null float64
dtypes: float64(1), object(1)
memory usage: 6.6+ KB

             City Neighborhood  2006-2010 estimate of obesity
379           Allegheny Center                       0.313581
378             Allegheny West                       0.206399
66                   Allentown                       0.353925
364                  Arlington                       0.334520
365          Arlington Heights                       0.473120
78                  Banksville                       0.239786
11           Bedford Dwellings                       0.636222
76                   Beechview                       0.281814
72                   Beechview                       0.295785
373                Beltzhoover                       0.479978
28                  Bloomfield                       0.280485
25                  Bloomfield                       0.233014
23                  Bloomfield                       0.181224
22                  Bloomfield                       0.185610
21                  Bloomfield                       0.281425
0                        Bluff                       0.246936
372                    Bon Air                       0.289505
96            Brighton Heights                       0.292287
94            Brighton Heights                       0.295853
93            Brighton Heights                       0.297589
73                   Brookline                       0.288113
107                  Brookline                       0.279140
74                   Brookline                       0.271680
75                   Brookline                       0.281736
84        California Kirkbride                       0.771046
101                    Carrick                       0.310517
100                    Carrick                       0.307687
102                    Carrick                       0.296869
1    Central Business District                       0.668012
27       Central Lawrenceville                       0.287296
..                         ...                            ...
355                        NaN                       0.302839
356                        NaN                       0.437485
357                        NaN                       0.224347
358                        NaN                       0.524226
359                        NaN                       0.496650
360                        NaN                       0.605003
361                        NaN                       0.506953
362                        NaN                       0.385815
363                        NaN                       0.388965
389                        NaN                       0.198084
390                        NaN                       0.204027
391                        NaN                       0.127446
392                        NaN                       0.239786
393                        NaN                       0.219857
394                        NaN                       0.303861
395                        NaN                       0.291314
396                        NaN                       0.195962
397                        NaN                       0.287881
398                        NaN                       0.242964
399                        NaN                       0.294894
400                        NaN                       0.277667
401                        NaN                       0.161278
402                        NaN                       0.145470
403                        NaN                       0.300971
404                        NaN                       0.285673
405                        NaN                       0.294694
406                        NaN                       0.249314
407                        NaN                       0.304834
408                        NaN                       0.294326
409                        NaN                       0.299611

[416 rows x 2 columns]

# Convert Categorical Data Municipality to Dummy Variables

In [6]:
df_dummies = pd.get_dummies(df['City Neighborhood'])
del df_dummies[df_dummies.columns[-1]]
df_new = pd.concat([df, df_dummies], axis=1)
del df_new['City Neighborhood']

In [7]:
x = df_new.values

# Print Correlation Matrix

In [8]:
correlation_matrix = np.corrcoef(x.T)
print(correlation_matrix)

[[ 1.          0.00610784 -0.04040271 ... -0.00503468  0.02902387
  -0.01362569]
 [ 0.00610784  1.         -0.00240964 ... -0.00240964 -0.00240964
  -0.00240964]
 [-0.04040271 -0.00240964  1.         ... -0.00240964 -0.00240964
  -0.00240964]
 ...
 [-0.00503468 -0.00240964 -0.00240964 ...  1.         -0.00240964
  -0.00240964]
 [ 0.02902387 -0.00240964 -0.00240964 ... -0.00240964  1.
  -0.00240964]
 [-0.01362569 -0.00240964 -0.00240964 ... -0.00240964 -0.00240964
   1.        ]]

# Introducing Playgrounds

In [9]:
playgrounds_pandas = pd.read_csv('Playgrounds.csv')
df2 = playgrounds_pandas[['neighborhood']] 
df2.info()
df2.sort_values(by=['neighborhood'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 1 columns):
neighborhood    121 non-null object
dtypes: object(1)
memory usage: 1.0+ KB

              neighborhood
26        Allegheny Center
119       Allegheny Center
79        Allegheny Center
103       Allegheny Center
46               Allentown
9               Banksville
4        Bedford Dwellings
85               Beechview
0                Beechview
106              Beechview
3                Beechview
108              Beechview
70             Beltzhoover
69             Beltzhoover
112            Beltzhoover
83              Bloomfield
84              Bloomfield
107                  Bluff
11                 Bon Air
13        Brighton Heights
64        Brighton Heights
14               Brookline
74               Brookline
57                 Carrick
87                 Carrick
120                Carrick
58   Central Lawrenceville
52       Central Northside
2        Central Northside
12         Central Oakland
..                     ...
82        South Side Flats
33       South Side Slopes
5        South Side Slopes
100      South Side Slopes
117      South Side Slopes
73       South Side Slopes
18           Spring Garden
101  Spring Hill-City View
116    Squirrel Hill North
97     Squirrel Hill South
95     Squirrel Hill South
94     Squirrel Hill South
44     Squirrel Hill South
17     Squirrel Hill South
96     Squirrel Hill South
109    Squirrel Hill South
25     Squirrel Hill South
28         Stanton Heights
27          Strip District
104         Swisshelm Park
54         Terrace Village
21               Troy Hill
61               Troy Hill
92              Upper Hill
38     Upper Lawrenceville
67     Upper Lawrenceville
111               West End
30            West Oakland
22                Westwood
20                 Windgap

[121 rows x 1 columns]

In [15]:
df.corrwith(df2.count())

2006-2010 estimate of obesity   NaN
dtype: float64

# Firearm Seizures

In [77]:
firearm_pandas = pd.read_csv("FirearmSeizures.csv")
df = firearm_pandas[["neighborhood","total_count"]] 
df.sample(5)
df = df.sort_values(by="neighborhood")
df

          neighborhood  total_count
2047  Allegheny Center            1
1515  Allegheny Center            3
2344  Allegheny Center            1
1572  Allegheny Center            1
400   Allegheny Center            1
2386  Allegheny Center            1
1305  Allegheny Center            1
373   Allegheny Center            1
945   Allegheny Center            1
1278    Allegheny West            1
1124    Allegheny West            1
1286    Allegheny West            1
1704    Allegheny West            1
1714    Allegheny West            1
827     Allegheny West            1
233     Allegheny West            1
2466    Allegheny West            1
584     Allegheny West            1
2467    Allegheny West            2
2471    Allegheny West            1
1919    Allegheny West            1
2155         Allentown            1
2177         Allentown            1
1482         Allentown            1
1294         Allentown            1
2261         Allentown            1
1300         Allentown            1
2227         Allentown            1
120          Allentown            1
1307         Allentown            1
...                ...          ...
2552               NaN            1
2568               NaN            1
2571               NaN            1
2575               NaN            1
2594               NaN            1
2595               NaN            1
2637               NaN            1
2644               NaN            1
2655               NaN            1
2663               NaN            1
2671               NaN            1
2672               NaN            1
2673               NaN            1
2679               NaN            1
2684               NaN            1
2687               NaN            1
2692               NaN            8
2697               NaN            1
2705               NaN            1
2714               NaN            1
2716               NaN            1
2720               NaN            1
2722               NaN            1
2723               NaN            1
2730               NaN            1
2736               NaN            2
2739               NaN            1
2741               NaN            2
2761               NaN            1
2769               NaN            1

[2771 rows x 2 columns]

In [92]:
df['neighborhood'].value_counts().sort_values(ascending=False)

Homewood South               145
South Side Flats             105
Larimer                       87
Homewood North                79
Hazelwood                     76
Carrick                       72
Marshall-Shadeland            70
Central Business District     69
Sheraden                      69
Perry South                   67
Knoxville                     61
Garfield                      60
Middle Hill                   60
Lincoln-Lemington-Belmar      57
Mount Washington              54
East Hills                    51
Brighton Heights              49
East Liberty                  48
Bedford Dwellings             47
Central Northside             43
Allentown                     42
Manchester                    41
Beechview                     37
Spring Hill-City View         34
Fineview                      33
Beltzhoover                   32
Crawford-Roberts              32
East Allegheny                30
South Side Slopes             30
Brookline                     28
                            ...
Allegheny Center               9
South Oakland                  9
Upper Lawrenceville            9
North Oakland                  9
Polish Hill                    8
Arlington Heights              8
Banksville                     7
Spring Garden                  7
Westwood                       7
Bon Air                        7
Squirrel Hill North            6
South Shore                    6
Stanton Heights                6
Lower Lawrenceville            6
North Shore                    6
Fairywood                      5
Windgap                        5
Mount Oliver Borough           5
St. Clair                      4
Friendship                     3
Chartiers City                 3
West End                       2
Esplen                         2
Oakwood                        2
Regent Square                  2
Hays                           2
Summer Hill                    2
Morningside                    2
Mt. Oliver                     2
Lincoln Place                  1
Name: neighborhood, Length: 87, dtype: int64